# Desafio Python e Pandas - Bootcamp TECH MINAS 2022/2023

| Desafio | Responsáveis |
|---------|--------------|
|    1    |Alexsandra|
|    2    |Yumi e Patricia|
|    3    |Ana e Alexsandra|
|    4    |Myrea e Luana|
|    5    |Beatriz|
|    6    |Tassia|
|    7    |Karen|
|    8    |Hyngrid|

## Desafio 1: Importando dataset pelo pydataset

Definição do problema: Dado o código do dataset retorne as seguintes informações:

Importe o dataset utilizando a seguinte função do pydataset: data(“Código”)
Imprimir na tela o dataset;
Informe o tipo de dados retornado pela função data;
Informe o número de exemplos (linhas) e características (colunas) do dataset.
Crie uma função que ao receber um DataFrame retorna o número de linhas e colunas.
Código do dataset: plantTraits

Dicas:

● plantTraits é um dataset que contém a descrição, por meio de atributos biológicos, de diferentes espécies de plantas;

● função built-in (nativa da linguagem Python): type()

● atributo do DataFrame: shape

In [ ]:
!pip install pydataset

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.9/15.9 MB 52.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pydataset) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (2022.7)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pydataset) (1.15.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939432 sha256=8194b93793314754b031bedfb87554c0aeeb8f16f69455459435516fdb241318
  Stored in directory: /root/.cache/pip/wheels/d7/e5/36/85d319586b4a405d001029d489102f526ce5546248c295932a
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0

Importe o dataset utilizando a seguinte função do pydataset: data(“Código”)

In [ ]:
from pydataset import data
import pandas as pd
import matplotlib.pyplot as plt
#matplotlib inline

In [ ]:
data('plantTraits', show_doc = True)

plantTraits

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Plant Species Traits Data

### Description

This dataset constitutes a description of 136 plant species according to
biological attributes (morphological or reproductive)

### Usage

    data(plantTraits)

### Format

A data frame with 136 observations on the following 31 variables.

`pdias`

Diaspore mass (mg)

`longindex`

Seed bank longevity

`durflow`

Flowering duration

`height`

Plant height, an ordered factor with levels `1` < `2` < ... < `8`.

`begflow`

Time of first flowering, an ordered factor with levels `1` < `2` < `3` < `4` <
`5` < `6` < `7` < `8` < `9`

`mycor`

Mycorrhizas, an ordered factor with levels `0`never < `1` sometimes< `2`always

`vegaer`

aerial vegetative propagation, an ordered factor with levels `0`never < `1`
present but limited< `2`important.

`vegsout`

underground vegetative propagation, an ordered factor with 3 levels identical
to `vegaer` above.

`autopoll`

selfing pollination, an ordered factor with levels `0`never < `1`rare < `2`
often< the rule`3`

`insects`

insect pollination, an ordered factor with 5 levels `0` < ... < `4`.

`wind`

wind pollination, an ordered factor with 5 levels `0` < ... < `4`.

`lign`

a binary factor with levels `0:1`, indicating if plant is woody.

`piq`

a binary factor indicating if plant is thorny.

`ros`

a binary factor indicating if plant is rosette.

`semiros`

semi-rosette plant, a binary factor (`0`: no; `1`: yes).

`leafy`

leafy plant, a binary factor.

`suman`

summer annual, a binary factor.

`winan`

winter annual, a binary factor.

`monocarp`

monocarpic perennial, a binary factor.

`polycarp`

polycarpic perennial, a binary factor.

`seasaes`

seasonal aestival leaves, a binary factor.

`seashiv`

seasonal hibernal leaves, a binary factor.

`seasver`

seasonal vernal leaves, a binary factor.

`everalw`

leaves always evergreen, a binary factor.

`everparti`

leaves partially evergreen, a binary factor.

`elaio`

fruits with an elaiosome (dispersed by ants), a binary factor.

`endozoo`

endozoochorous fruits, a binary factor.

`epizoo`

epizoochorous fruits, a binary factor.

`aquat`

aquatic dispersal fruits, a binary factor.

`windgl`

wind dispersed fruits, a binary factor.

`unsp`

unspecialized mechanism of seed dispersal, a binary factor.

### Details

Most of factor attributes are not disjunctive. For example, a plant can be
usually pollinated by insects but sometimes self-pollination can occured.

### Source

Vallet, Jeanne (2005) _Structuration de communautés végétales et analyse
comparative de traits biologiques le long d'un gradient d'urbanisation_.
Mémoire de Master 2 'Ecologie-Biodiversité-Evolution'; Université Paris Sud
XI, 30p.+ annexes (in french)

### Examples

    data(plantTraits)
    ## Calculation of a dissimilarity matrix
    library(cluster)
    dai.b <- daisy(plantTraits,
                   type = list(ordratio = 4:11, symm = 12:13, asymm = 14:31))
    ## Hierarchical classification
    agn.trts <- agnes(dai.b, method="ward")
    plot(agn.trts, which.plots = 2, cex= 0.6)
    plot(agn.trts, which.plots = 1)
    cutree6 <- cutree(agn.trts, k=6)
    cutree6
    ## Principal Coordinate Analysis
    cmdsdai.b <- cmdscale(dai.b, k=6)
    plot(cmdsdai.b[, 1:2], asp = 1, col = cutree6)

Imprimir na tela o dataset;

In [ ]:
df = data('plantTraits')
df.head(10)

,pdias,longindex,durflow,height,begflow,mycor,vegaer,vegsout,autopoll,insects,...,seashiv,seasver,everalw,everparti,elaio,endozoo,epizoo,aquat,windgl,unsp
Aceca,96.84,0.000000,2,7,5,2.0,0.0,0.0,0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Aceps,110.72,0.000000,3,8,4,2.0,0.0,0.0,0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Agrca,0.06,0.666667,3,2,6,2.0,0.0,1.0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Agrst,0.08,0.488889,2,2,7,1.0,2.0,0.0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Ajure,1.48,0.476190,3,2,5,2.0,2.0,0.0,1,3,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Allpe,2.33,0.500000,3,5,4,0.0,0.0,0.0,3,3,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Anaar,0.38,0.904762,3,2,6,2.0,0.0,0.0,3,2,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
Anene,2.55,0.066667,3,2,3,2.0,0.0,2.0,1,3,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Angsy,1.48,0.210526,3,3,7,2.0,0.0,0.0,0,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Antod,0.52,0.369565,3,2,4,2.0,0.0,0.0,2,0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

Informe o tipo de dados retornado pela função data;

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.describe()

,pdias,longindex,durflow,height,begflow,mycor,vegaer,vegsout,autopoll,insects,...,seashiv,seasver,everalw,everparti,elaio,endozoo,epizoo,aquat,windgl,unsp
count,100.000000,111.000000,136.000000,136.000000,136.000000,97.000000,134.000000,134.000000,136.000000,136.000000,...,132.000000,132.000000,132.000000,132.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000
mean,70.764450,0.406000,3.183824,4.117647,5.169118,1.597938,0.216418,0.425373,0.889706,2.022059,...,0.030303,0.045455,0.409091,0.151515,0.091603,0.290076,0.167939,0.022901,0.175573,0.290076
std,220.203534,0.334575,1.629370,2.047795,1.417118,0.671748,0.592712,0.729372,1.126600,1.502920,...,0.172073,0.209092,0.493539,0.359916,0.289572,0.455539,0.375247,0.150161,0.381917,0.455539
min,0.010000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.460000,0.000000,2.000000,2.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.575000,0.444444,3.000000,4.000000,5.000000,2.000000,0.000000,0.000000,0.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8.505000,0.722953,4.000000,5.000000,6.000000,2.000000,0.000000,1.000000,2.000000,3.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,1684.300000,1.000000,12.000000,8.000000,9.000000,2.000000,2.000000,2.000000,3.000000,4.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 136 entries, Aceca to Viore
Data columns (total 31 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pdias      100 non-null    float64
 1   longindex  111 non-null    float64
 2   durflow    136 non-null    int64
 3   height     136 non-null    int64
 4   begflow    136 non-null    int64
 5   mycor      97 non-null     float64
 6   vegaer     134 non-null    float64
 7   vegsout    134 non-null    float64
 8   autopoll   136 non-null    int64
 9   insects    136 non-null    int64
 10  wind       136 non-null    int64
 11  lign       136 non-null    int64
 12  piq        136 non-null    int64
 13  ros        132 non-null    float64
 14  semiros    132 non-null    float64
 15  leafy      132 non-null    float64
 16  suman      136 non-null    int64
 17  winan      136 non-null    int64
 18  monocarp   136 non-null    int64
 19  polycarp   136 non-null    int64
 20  seasaes    132 non-null    float64
 21  seashiv    132 non-null    float64
 22  seasver    132 non-null    float64
 23  everalw    132 non-null    float64
 24  everparti  132 non-null    float64
 25  elaio      131 non-null    float64
 26  endozoo    131 non-null    float64
 27  epizoo     131 non-null    float64
 28  aquat      131 non-null    float64
 29  windgl     131 non-null    float64
 30  unsp       131 non-null    float64
dtypes: float64(19), int64(12)
memory usage: 34.0+ KB

Informe o número de exemplos (linhas) e características (colunas) do dataset.

In [ ]:
#linhas
df.shape[0]

136

In [ ]:
#colunas
df.shape[1]

31

Crie uma função que ao receber um DataFrame retorna o número de linhas e colunas.

In [ ]:
def informeLinhas(df):
  return df.shape

df = data('plantTraits')
print(informeLinhas(df))

(136, 31)

## Desafio 2: Conversão

Definição do problema: Dada a tabela com a média de altura e peso de mulheres estadunidenses, onde os nomes das colunas estão em inglês height (altura) e weight (peso) e seus respectivos valores estão nas seguintes unidades: polegada e libras.
1. Construa uma nova representação onde os nomes das colunas estão em português, e os valores de altura são convertidos para centímetros e os valores de peso convertidos para quilograma.
2. Plote o scatterplot de altura x peso da nova representação.
Código do dataset: women
Dicas:
* 1 polegada = 2,54 centímetros
* 1 libra = 0,45 quilos
* use o método .plot.scatter()

## Desafio 3: Titanic

Definição do problema:Dado que você está trabalhando com um grupo de historiadores que estão analisando o naufrágio do Titanic, informe aos historiadores as seguintes questões?
1. Quantas pessoas sobreviveram e quantas morreram?
2. Quantas pessoas eram da primeira, segunda e terceira classe?
3. Qual a porcentagem de sobreviventes na primeira classe?
4. Qual a porcentagem de mortos da terceira classe?

Código do dataset: titanic

Dicas:

● value_counts() (Itens 1 e 2)

● seleção de subconjuntos (Itens 3 e 4)

## Desafio 4: Futebol

Definição do problema: Dado que você está trabalhando numa emissora de televisão, o narrador precisa informar o jogo com o maior número de gols na história da Bundesliga (Campeonato Alemão). Você precisa fazer uma busca em todos os jogos da história deste campeonato e verificar qual jogo é esse e passar a informação ao narrador, para posteriormente, o narrador informar aos telespectadores.
1. Verificar os jogos com maior quantidade de gols na história da Bundesliga
2. Informar a data, os times participantes e o placar do jogo

Código do dataset: Bundesliga

Dicas:

● Criar uma nova variável "TotalGols" com o total de gols da partida;

● Use o método.max()

## Desafio 5: Forbes

Definição do problema: Você está trabalhando em um jornal e o editor quer que você responda as seguintes questões:
1. Qual a empresa mais valiosa da lista da Forbes 2000?
2. Construa uma tabela com as TOP 10 empresas mais lucrativas da lista.
3. Qual a média de valores de empresa das cinco categorias mais valiosas?
Código do dataset: Forbes2000

Dicas:

● Método.max()

● Método.nlargest()

● Método.groupby()

## Desafio 6: Rendimento Ações

Definição do problema: Você está trabalhando num banco e precisa informar ao seu cliente em que ano foi a maior rentabilidade de dividendo pago por ação da empresa Johnson&Jonson

1. Agregar os rendimentos de um mesmo ano.

2. Calcular a valorização do rendimento de um ano para outro.

3. Informar o ano de maior rentabilidade.

Código do dataset: JohnsonJohnson

Dicas:

* Criar uma nova representação dos dados, onde a informação é anual

* Criar uma nova coluna informando a valorização anual

* numpy.trunc()

* método.shift()

* método.idxmax()

## Desafio 7: Condições de Moradia

Definição do problema: Dado que você recebeu dados de pessoas em situação de rua, informe aos pesquisadores as seguintes respostas
1. Em quantas medições, em média, as pessoas da base estava em situação de rua?

2. Qual a proporção de moradores que estiveram inscritos em Section 8 em algum momento?

3. Quantas pessoas estiveram 100% do tempo em situação de rua?

4. Qual percentual das pessoas apresentaram uma melhora de condições de moradia no final do estudo?

Código do dataset: housing

Dicas:

● Cada pessoa está registrada com um ID diferente.

● Uma medição da condição da pessoa é feita a cada seis meses.

● Foram feitas medições por 2 anos.

● É importante conferir a documentação da base para entender o que significa cada código da variável y.

## Desafio 8: Suicídios

Definição do problema: Dado que você é uma investigadora da polícia e tem em mãos uma base de dados sobre o histórico de suicídios de seu país.

1. Crie uma função que ao informar o sexo e a faixa etária de um suícidio é retornado as probabilidades do método utilizado.

2. Com auxílio da função input() faça a chamada da função do item 1. (a ideia é simular uma interface amigável)

Código do dataset: Suicide

Dicas:

● Utilizar o método groupby