# Challenge Frequências e Medidas
## Desafio 1: Entendendo os estudantes

Esse desafio tem como objetivo responder algumas perguntas através da
análise de dados, aprofundando o conhecimento em frequência e medidas.
Os dados que deverão ser utilizado nesse script foram baixados do kaggle,
e podem ser acessados através do link:
https://www.kaggle.com/spscientist/students-performance-in-exams

Este conjunto de dados consiste nas notas obtidas pelos alunos em várias
disciplinas e suas informações pessoais.
Variáveis:
- gender - gênero do aluno
- race/ethnicity - raça/etnia dos alunos
- parental level of education - grau de escolaridade dos pais
- lunch - tipo de almoço
- test preparation course - indica se fez curso preparatório
- math score - nota na prova de matematica
- reading score - nota na prova de leitura
- writing score - nota na prova de escrita
Os dados são arquivos em .csv.

Dica / Passo a Passo:
1. Leia a base de dados e faça uma análise inicial, como por exemplo,
verificar o tamanho da base de dados (quantidade de linhas e
colunas) e o tipo das variáveis.
2. Alguma variável precisa ser alterada ou criada? Faça as alterações se
julgar necessária.
3. Verifique a quantidade de alunos em cada grupo racial/étnico.
4. Qual a quantidade de alunos de cada gênero? Existem mais alunos do
gênero masculino ou feminino?
5. Analise as notas de matemática dos alunos de forma mais completa
possível.

Dica: Identifique o tipo de variável e faça todas análises que você sabe que
pode ser aplicado para esse tipo de variável. Por exemplo, se for uma
variável quantitativa calcule a média, mediana, quartis, etc. Já se for uma
variável qualitativa faça a tabela de fequência, moda, etc.

Faça também análises gráficas das sugestões abaixo ou o que achar
pertinente.
- Qual a nota média de matemática dos alunos segundo o grau de
escolaridade dos pais?
- Faça a mesma análise para as notas de leitura e escrita.
- Verifique gráficamente a relação da nota de leitura e de escrita.

Atividade extra:
Análise mais algum dado que seja interessante avaliar e represente
graficamente, através de boxplot, histogramas, barplot dentre outros
diversos de livre escolha.

## Importação das bibliotecas

In [2]:
import pandas as pd
import numpy as np

## Importação e análise inicial

In [4]:
dados = pd.read_csv('dados\StudentsPerformance.csv')
dados.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [9]:
dados.shape

(1000, 8)

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Não há dados nulos.

In [6]:
dados.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

A priori, as notas de leitura tendem a serem maiores que a de escrita e matemática.

In [8]:
dados.drop_duplicates().count()

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                     1000
reading score                  1000
writing score                  1000
dtype: int64

## Análise por etnia

Quantos alunos são de cada grupo étnico-racial?

In [13]:
dados['race/ethnicity'].value_counts().sort_values()

group A     89
group E    140
group B    190
group D    262
group C    319
Name: race/ethnicity, dtype: int64

Quais quais as médias e desvios-padrão para cada grupo étnico-racial?

In [24]:
dados[['race/ethnicity', 'math score', 'reading score', 'writing score']].groupby('race/ethnicity').agg(['mean', 'std'])

               math score            reading score            writing score  \
                     mean        std          mean        std          mean
race/ethnicity
group A         61.629213  14.523008     64.674157  15.543762     62.674157
group B         63.452632  15.468191     67.352632  15.177499     65.600000
group C         64.463950  14.852666     69.103448  13.997033     67.827586
group D         67.362595  13.769386     70.030534  13.895306     70.145038
group E         73.821429  15.534259     73.028571  14.874024     71.407143


                      std
race/ethnicity
group A         15.468278
group B         15.625173
group C         14.983378
group D         14.367707
group E         15.113906

## Análise por gênero

## Análise das notas de matemática

- Qual a nota média de matemática dos alunos segundo o grau de
escolaridade dos pais?
- Faça a mesma análise para as notas de leitura e escrita.
- Verifique gráficamente a relação da nota de leitura e de escrita.